:root {
    --color-primary: #B88E2F;
    // --color-secondary: #9333ea;
    --color-accent: #10b981;

    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #ebebeb;
    --color-bg-terciary: #00000048;


    --color-text-primary: #000000;
    --color-text-secondary: #4b5563;
     --color-text-terciary: #a2a2a3;
}
